* {
    padding: 0px;
    margin: 0px;
}

#navegador {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: rgb(81,99,114);
    height: 60px;
}

#imgNavegador {
    grid-column-start: 2;
    grid-column-end: 3;

}

#cancelar {
    grid-column-start: 1;
    grid-column-end: 1;
    margin-top: 2px;
    margin-left: 5%;
    text-decoration: none;
    color: white;
    font-size: 25px;
    font-family: 'Inter', sans-serif;
    background-color: gray;
    height: 63%;
    width: 38%;
    padding: 8px;
    border-radius: 20px;
    padding-left: 12px;
}

#etapa{
    background-color: rgb(81,99,114);
    margin-left: 35%;
    margin-right: 35%;
    height: 40px;
    border-top: none;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
    color: white;
}

#background {
    background-image: url('../imagens/backgroundMontar.png');
    height: 100vh;
    background-repeat: no-repeat;
}

h2 {
    padding-top: 1%;
    text-align: center;
    font-family: 'Inter', sans-serif;
}

#campo{
    background-color: white;
    margin-top: 2%;
    margin-left: 20%;
    height: 500px;
    width: 800px;
    border: 1px solid black;
    border-radius: 40px;
}

